/**
 * Footer styles
 */

@use 'src/styles/palette';

.primary-footer {
  text-align: center;
  padding: 2em 1em;
  color: palette.$tertiary-color-light;
  background-color: palette.$tertiary-color-dark;

  @media (max-width: 1200px) {
    min-height: 9em;
  }
}
